.ContainerSection{
    margin-top: 10px;
    border:1px solid black;
    padding-bottom: 20px;
}
.slick-next:before,
.slick-prev:before {
  color: #000;
}
.slick-next::after,
.slick-prev::after {
  color: #000;
}
.CardButton{
    text-align: center !important;
}
.CardTitle{
    display:flex !important;
    flex-direction: column;

}