.LiveCardContent{
    display:flex;

}
.CardParaSec{
    font-weight: 600;
    color: #fff;
    width:200px;
    height:30px;
    text-align: center;
    border-radius: 20px;
    background-color: orangered;
    cursor: pointer;
    text-decoration: none;
}
/* @media (max-width: 768px) {
    .CardMainSection{
        margin-left:20px !important;
    }
  } */
